.navigation{
	position: fixed;
	z-index: 100000;
	width: 100%;
}
#params:hover{
	border-bottom-color: blue;
	transition-duration: 0.2s;
	border-bottom: solid;

}
#home:hover{
	border-bottom-color: blue;
	transition-duration: 0.2s;
	border-bottom: solid;

}
#stat:hover{
	border-bottom-color: blue;
	transition-duration: 0.2s;
	border-bottom: solid;

}

